h1 {
	border: 2px solid;
	background-color: yellow;
	padding: 5px;
	font-size: 5em;
}

h2 {
	margin: 5px;
}

footer {
	position: relative;
	left: 50%;
}
.list-header {
	background-color: red;
	font-weight: bold;
	border: 2px solid;
	font-family: Helvetica;
	color: white;


}

#list {
	padding: 20px;
	border: 2px solid;
	font-family: Helvetica;
}

table {
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/29/1d/01/291d019b8b4c74c6b49b222ccab96f86.jpg")
}

a:link {
    color: black;
}

a:visited {
    color: pink;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 75%;
  }
}